﻿    body
    {
      margin: 0px !important;
      background-color: #E7B4F6;
      font-family: 'Century Gothic';
    }

    .Block
    {
      color: white;
      font-size:120px;
      line-height:267px;
      font-family: 'Century Gothic';
      text-align:center;
      position:relative;
      display: inline-block;
      width: 267px;
      height: 267px;
      background-color: red;
      border-radius: 4px;
      margin:10px;
      opacity: 0;
      transition: all 0.5s;
    }

    .InnerBlock
    {
      font-family: Arial;
      color: white;
      font-size:267px;
      line-height:267px;
      text-align:center;
      width: 267px;
      height: 267px;
      opacity: 0.15;
      position: absolute;
      margin-top: -267px;
    }

    #Half
    {
      width: 50%;
      left: 0px;
    }

    #Mid
    {
      width: 880px;
      margin-right: -440px;
      float:right;
    }

    #Message
    {
      width: 800px;
      height: 400px;
      background-color:white;
      border-radius: 4px;
      opacity: 1;
      transition: all 0.5s;
      position: absolute;
      left:50%;
      top:50%;
      margin-left: -400px;
      margin-top: -200px;
      font-size:150px;
      line-height: 400px;
      text-align:center;
      color: #808080;
      opacity: 0;
      display: none;
    }