﻿body
{
  margin: 0px !important;
  background-color: #3FA723;
  /*background-color: #895F1D;*/
  font-family: 'Century Gothic';
}

#Half
{
  width: 50%;
  left: 0px;
}

#Mid
{
  width: 880px;
  margin-right: -440px;
  float: right;
  height:100vh;
}

#Message
{
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -200px;
  font-size: 150px;
  line-height: 400px;
  text-align: center;
  color: #808080;
  opacity: 0;
  display: none;
  z-index: 999;
}

.Mole
{
    position: absolute;
    width: 180px;
    height:140px;
    z-index: 99 !important;
}

.Dirt
{
  position: absolute;
  margin-left: 0px;
  margin-top: 72px;
  width: 188px;
  opacity: 0;
  transition: all 0.2s;
}

.Paws
{
  position: absolute;
  margin-left: 30px;
  margin-top: 65px;
  width: 113px;
  opacity: 0;
  transition: all 0.2s;
}

.Head
{
  position: absolute;
  margin-left: 38px;
  margin-top: 90px;
  width: 98px;
  opacity: 0;
  transition: all 0.5s;
}

.HeadHider
{
  position: absolute;
  width: 98px;
  height: 90px;
  margin-left: 38px;
  margin-top: 95px;
  background-color: #3FA723;
  /*background-color: #895F1D;*/
}


