﻿body
{
  margin: 0px !important;
  background-color: #90E6B2;
  font-family: 'Century Gothic';
}

.MainBlock
{
  margin-left: 40px;
}

.Block
{
  position:absolute;
  border: solid 2px #90E6B2;
  border-radius:6px;
  opacity: 0;
  transition: all 0.5s;
}

#Half
{
  width: 50%;
  left: 0px;
}

#Mid
{
  width: 880px;
  margin-right: -440px;
  float: right;
}

#Message
{
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -200px;
  font-size: 150px;
  line-height: 400px;
  text-align: center;
  color: #808080;
  opacity: 0;
  display: none;
}

#LevelChooser
{
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -200px;
  opacity: 0;
  display: none;
  z-index: 999;
}

.LevelButton
{
  width: 800px;
  height: 100px;
  font-size: 50px;
  background-color: white;
  border-radius: 4px;
  line-height: 100px;
  text-align: center;
  color: #808080;
  margin-bottom:10px;
}
